.container {
  max-width: 1510px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: calc(2.5vw + 3rem) repeat(16, 1fr);
  grid-template-rows: calc(2.5vw + 3rem) calc(100vh - calc(2.5vw + 3rem)) repeat(6, min-content);

}




